---
import Section from "./Section.astro";
import type { ExperienceProps } from "@types";
---

<Section text="Work Experience" href="experience">
  {experience.map((job: ExperienceProps) => {
    return (
      <div class="flex items-start p-6 mb-10 rounded-xl bg-gray-900/80 shadow-md hover:shadow-lg transition-transform transform hover:-translate-y-1 hover:scale-[1.01] duration-300">
        
        <!-- Company logo -->
        <img
          src={`/images/${
            job.company === "Raytheon"
              ? "Raytheon.png"
              : job.company === "Forge Nano"
              ? "FN.png"
              : job.company === "211 Tampa Bay Cares"
              ? "211.png"
              : job.company === "Mars"
              ? "Mars.png"
              : ""
          }`}
          alt={job.company}
          class="w-12 h-12 mr-4 rounded-full object-contain"
        />

        <!-- Text content -->
        <div>
          <h3 class="text-lg font-semibold text-white">
            {job.company} – {job.position}
          </h3>
          <p class="text-sm text-gray-400 mb-2">
            {job.startDate} – {job.endDate}
          </p>

          {Array.isArray(job.summary) ? (
            <ul class="list-disc list-inside space-y-1 text-gray-300 text-sm">
              {job.summary.map((point: string) => (
                <li set:html={point}></li>
              ))}
            </ul>
          ) : (
            <p class="text-base text-neutral">{job.summary}</p>
          )}
        </div>
      </div>
    );
  })}
</Section>
