---
import Section from "./Section.astro";
import type { ExperienceProps } from "@types";

interface Props {
  experience: ExperienceProps[];
}

const { experience } = Astro.props;
---

<Section text="Work Experience" href="experience">
  {experience.map(({ company, position, startDate, endDate, summary }) => (
    <div class="flex items-start p-4 mb-8 rounded-xl bg-gray-900/80 shadow-md hover:shadow-lg transition-transform transform hover:-translate-y-1 hover:scale-[1.01] duration-300">
      
      <!-- Perfect circular pre-processed logos -->
      <div class="w-28 h-28 rounded-full overflow-hidden flex items-center justify-center mr-6">
        <img
          src={`/${
            company === "Raytheon"
              ? "Raytheon.png"
              : company === "Forge Nano"
              ? "FN.png"
              : company === "211 Tampa Bay Cares"
              ? "211.png"
              : company === "Mars"
              ? "Mars.png"
              : ""
          }`}
          alt={company}
          class="w-full h-full object-contain"
        />
      </div>

      <!-- Text content -->
      <div>
        <h3 class="mb-1 font-serif text-xl font-semibold text-white">
          {company}
        </h3>
        <div class="flex flex-col items-start pb-3">
          <h4 class="mb-0.5 font-serif text-lg font-medium text-primary">
            {position}
          </h4>
          <span class="pb-[2px] text-xs text-white/70">
            {startDate} — {endDate}
          </span>
        </div>

        {Array.isArray(summary) ? (
          <ul class="list-none">
            {summary.map((log) => (
              <li
                class="relative mb-2 pl-8 text-sm text-neutral before:absolute before:top-0.5 before:left-0 before:content-[url(/check.svg)] before:scale-125"
                set:html={log}
              ></li>
            ))}
          </ul>
        ) : (
          <p class="text-sm text-neutral">{summary}</p>
        )}
      </div>
    </div>
  ))}
</Section>

